/* Color Theme Swatches in Hex */
.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-1-hex { color: #511201; }
.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-2-hex { color: #AD160F; }
.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-3-hex { color: #F0F2F2; }
.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-4-hex { color: #F8E8E8; }
.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-5-hex { color: #F2E5BD; }

/* Color Theme Swatches in RGBA */
.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-1-rgba { color: rgba(81, 18, 1, 1); }
.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-2-rgba { color: rgba(173, 22, 15, 1); }
.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-3-rgba { color: rgba(240, 242, 242, 1); }
.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-4-rgba { color: rgba(248, 232, 232, 1); }
.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-5-rgba { color: rgba(242, 229, 189, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-1-hsla { color: hsla(12, 97, 16, 1); }
.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-2-hsla { color: hsla(2, 84, 36, 1); }
.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-3-hsla { color: hsla(180, 7, 94, 1); }
.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-4-hsla { color: hsla(0, 53, 94, 1); }
.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-5-hsla { color: hsla(45, 67, 84, 1); }